/* 
************************************
SHARED CSS
************************************
*/

body {
  padding: 0;
  margin: 0;
  background-color: rgb(0, 0, 0);
  font-size: 48px;
}

* {
  box-sizing: border-box;
}

main {
  width: 100%;
}

button {
  font-size: 32px;
  width: 25%;
  height: 70%;
  border-radius: 30%;
  background-color: white;
}

/* 
************************************
LAYOUT CSS
************************************
*/

.screen {
  height: 0.8fr;
  width: 100%;
  background-color: rgb(116, 116, 116);
}

.buttons {
  width: 100%;
  background-color: rgb(182, 178, 178);
}

/* 
************************************
BUTTONS CSS
************************************
*/

.buttons {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.3fr 1fr;
  grid-template-areas:
    "alias-bf alias-op"
    "alias-n alias-op";
}

.operators {
  grid-area: alias-op;
  background-color: rgb(92, 92, 92);
}

.basic-functions {
  grid-area: alias-bf;
  background-color: rgb(107, 107, 107);
}

.numbers {
  grid-area: alias-n;
  background-color: rgb(5, 5, 5);
}

/* 
************************************
NUMBERS CSS
************************************
*/

.numbers {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 67vh;
}

.num-sections {
  display: flex;
  justify-content: center;
  align-items: center;
}

.num-sections button {
  font-size: 80%;
  margin: 0 10px;
  background-color: grey;
}

/* 
************************************
OPERATOR BUTTONS
************************************
*/

.operators {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.operators button {
  height: 15%;
  width: 50%;
  margin: 10px;
  color: white;
  background-color: rgba(255, 166, 0, 0.781);
  border: none;
}

/* 
************************************
BASIC FUNCTIONS BUTTONS
************************************
*/

.basic-functions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.basic-functions button {
  margin: 0 10px;
  background-color: greenyellow;
}

/* 
************************************
SCREEN CSS
************************************
*/

.screen {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: baseline;
}

.text {
  font-size: 20px;
  color: aqua;
  margin: 0;
  margin-right: 10px;
  align-self: end;
}

input {
  background-color: rgb(255, 255, 255);
  border: 5px solid gray;
  border-radius: 10px;
  border-top: none;
  outline: none;
  text-align: right;
  color: rgb(0, 0, 0);
  width: 100%;
  font-size: 2.6rem;
  align-self: flex-end;
}

/* 
************************************
MEDIA QUERIES
************************************
*/

@media (min-height: 600px) {
  .screen {
    height: 100px;
  }
}

@media (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr 768px 1fr;
    grid-template-areas: ". alias-m .";
  }

  main {
    grid-area: alias-m;
  }
}
